.editionSection{
    display: flex;
    
    flex-direction: column;

    height: 100vh;
    width: 99vw;
    
    justify-content: center;
    align-items: center;

}

.editionSection section{
    display: flex;

    align-items: center;
    justify-content: space-around;
    
    height: 80%;
    width: 80%;
}

.editionSection h1{
    color: rgb(255, 123, 0);
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.editionSection section img{
    width: 2.1%;
    cursor: pointer;
}

.editionSection iframe{
    background-color: rgb(41, 41, 41);
    
    
    height: 80%;
    width: 80%;

    border-radius: 12px;
    
    padding: 1%;
}

.editionChanels{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    width: 99vw;
    
}

.editionChanels h1{
    color: rgb(255, 123, 0);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1%;
}

.editionChanels p{
    max-width: 80%;
    text-align: center;
    font-size: 1.5rem;
}

.ChanlesImg{
    display: flex;
    background-color: rgb(41, 41, 41);
    
    padding: 1%;
    border-radius: 12px;
    
    justify-content: space-around;
    align-items: center;
    
    width: 40%;
    height: auto;

}

.ChanlesImg img{
    width: 15%;
    height: auto;
    
    border-radius: 15px;
    padding: 1%;
    
    transition: all ease-in-out .5s;
    cursor: pointer;
}

/* Celular */
@media (width < 767px){
    .editionSection{
        height: 70vh;
    }
    
    .editionSection h1{
        font-size: 4rem;
        max-width: 80%;
    }

    .editionSection section img{
        width: 5%;
    }
    .editionSection iframe{
        height: 40%;
        width: 80%;
    }

    .editionChanels{
        max-width: 98vw;
    }

    .editionChanels h1{
        font-size: 5rem;
    }

    .editionChanels p{
        font-size: 2rem;
    }

    .editionChanels :nth-child(3){
        font-size: 1.5rem;
    }

    .ChanlesImg {
        padding: 2%;
        width: 60%;
    }

    .ChanlesImg img{
        width: 20%;
    }

    .editionChanels {
        margin-bottom: 10%;
    }
}

/* Celular Horizontal */
@media (height < 500px){
    .editionChanels{
        max-width: 95vw;
    }
    .editionChanels h1{
        font-size: 2rem;
    }

    .editionChanels p{
        font-size: 1rem;
    }
    .editionSection h1{
        font-size: 2rem;
    }

}

/* Animaciones en pc */
@media (width > 768px){
    .ChanlesImg img:hover{
        width: 25%;    
        height: auto;
    }
}